@import 'bourbon/bourbon';
@import 'neat/neat';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

header {
  background-image: url('../images/header-image.jpg');
  background-position: center center;
  background-size: cover;
  min-height: 100%;
  text-align: center;
  color: white;
}

.top-nav {
  text-align: right;
  padding-top: 10px;
  padding-right: 20px;
}

.top-nav-link {
  display: inline-block;
  padding: 10px;
}

.top-nav-link a:visited {
  color: white;
}

.welcome {
  padding-top: 5%;
  text-shadow: 1px 1px 2px black;
  font-size: 80px;
}

.content-container {
  @include outer-container(100%);
}

.main-nav {
  @include span-columns(12);
  border: solid white 3px;
  border-radius: 10px;
  background-color: #bd7b58;
  padding-top: 10px;
  height: 60px;
  color: white;
  font-size: 30px;
}

.main-nav-ul {
  @include span-columns(10);
  @include shift(1);
}

.main-nav-link {
  @include span-columns(2 of 10);
  text-align: center;
}

.main-nav-link a:visited {
  color: white;
}

.intro-container {
  @include span-columns(12);
  border-bottom: solid white 3px;
  background-image: url('../images/berries.jpg');
  background-position: bottom center;
  background-size: cover;
  padding-top: 30px;
  height: 530px;
  color: white;
}

.intro {
  @include span-columns(4 of 12);
  @include shift(1);
  text-align: center;
}

.intro-photo {
  border: solid white 5px;
  border-radius: 150px;
  height: 220px;
}

.intro-text {
  margin-top: -26px;
  border: solid white 5px;
  border-radius: 15px;
  background-color: rgba(175, 92, 88, .6);
  padding: 20px;
  font-size: 20px;
}

.booking-link {
  @include span-columns(6 of 12);
  @include shift(1);
  display: inline-block;
  margin-top: 100px;
  border: solid white 7px;
  border-radius: 15px;
  box-shadow: 10px 5px 5px black;
  background-color: rgba(175, 92, 88, .9);
  padding-top: 22px;
  width: 500px;
  height: 200px;
  text-align: center;
  font-size: 60px;
}

.reviews-container {
  @include span-columns(12);
  background-image: url('../images/wood-snake.jpg');
  background-position: center center;
  background-size: cover;
  padding-top: 30px;
  height: 580px;
}

.reviews {
  @include span-columns(10 of 12);
  @include shift(1);
}

.review {
  @include span-columns(2.5 of 10);
  text-align: center;
}

.review-photo {
  border: solid white 3px;
  border-radius: 100px;
  width: 150px;
}

.review-text {
  @include span-columns(2 of 2.5);
  @include shift(.25);
  margin-top: -15px;
  border: solid white 3px;
  border-radius: 10px;
  background-color: rgba(190, 164, 148, .7);
  padding: 15px;
  color: white;
  font-size: 18px;
}

footer {
  @include span-columns(12);
  background-color: #929265;
  padding: 15px;
}

.bottom-nav {
  @include span-columns(10 of 12);
  @include shift(1);
  text-align: center;
}

.bottom-nav-link {
  @include span-columns(2 of 10);
}
