html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%;
  overflow: hidden; }

body {
  height: 100%;
  font-family: 'Libre Baskerville', serif;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 1px;
  transform-style: preserve-3d; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: 3px 3px 5px black;
  font-family: 'Lobster Two', cursive;
  color: white; }

li {
  display: inline-block;
  list-style: none; }

a {
  text-decoration: none;
  color: white; }

a:visited {
  color: white; }

header {
  position: relative;
  transform: inherit;
  min-height: 100%;
  text-align: center;
  color: white; }

header:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ''; }

header,
header:before {
  background: 50% 50% / cover; }

.welcome-header {
  transform: translateZ(-2px) scale(3);
  z-index: -1;
  background-image: url("../images/barn2.jpg"); }

.top-nav {
  position: relative;
  z-index: 10;
  padding-top: 10px;
  text-align: right; }

.top-nav-link {
  display: inline-block;
  transition: all 300ms;
  margin-right: 20px;
  border: solid white 3px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(225, 112, 73, 0.7);
  padding: 10px;
  width: 65px;
  text-align: center;
  font-size: 14px; }

.top-nav-link:hover {
  background-color: rgba(54, 93, 159, 0.7); }

.welcome {
  display: block;
  padding-top: 9%;
  font-size: 100px; }

.down-arrow {
  padding-top: 180px;
  text-shadow: 3px 3px 5px black;
  font-size: 60px; }

.content-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .content-container::after {
    clear: both;
    content: "";
    display: table; }

.main-nav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  border: solid white 3px;
  border-radius: 10px;
  background-color: #be7b5c;
  padding-top: 10px;
  height: 60px;
  font-size: 24px; }
  .main-nav:last-child {
    margin-right: 0; }

.main-nav-ul {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%; }
  .main-nav-ul:last-child {
    margin-right: 0; }

.main-nav-li {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 22.316%;
  text-align: center; }
  .main-nav-li:last-child {
    margin-right: 0; }

.main-nav-link {
  transition: color 300ms;
  color: white; }

.main-nav-link:hover {
  color: #f4c57b; }

.intro-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  border-bottom: solid white 3px;
  background-image: url("../images/berries.jpg");
  background-position: bottom center;
  background-size: cover;
  padding: 30px;
  color: white; }
  .intro-container:last-child {
    margin-right: 0; }

.intro {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 44.55627%;
  margin-left: 8.5298%;
  text-align: center; }
  .intro:last-child {
    margin-right: 0; }

.intro-photo {
  border: solid white 5px;
  border-radius: 150px;
  height: 220px; }

.intro-text {
  margin-top: -75px;
  border: solid white 5px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(216, 82, 105, 0.6);
  padding: 20px;
  padding-top: 70px;
  font-size: 18px; }

.booking-link {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-left: 8.5298%;
  display: inline-block;
  transition: background-color 300ms;
  margin-top: 80px;
  border: solid white 5px;
  border-radius: 15px;
  box-shadow: 12px 12px 30px black;
  background-color: rgba(216, 82, 105, 0.6);
  padding-top: 20px;
  width: 300px;
  height: 150px;
  text-align: center;
  text-shadow: 0 -1px #dbccc4;
  font-size: 40px; }
  .booking-link:last-child {
    margin-right: 0; }

.booking-link:hover {
  background-color: rgba(243, 169, 92, 0.6); }

.booking-link:active {
  transform: translate(0, 5px);
  box-shadow: 6px 6px 15px black; }

.reviews-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-image: url("../images/wood-snake.jpg");
  background-position: center center;
  background-size: cover;
  padding: 30px;
  text-align: center; }
  .reviews-container:last-child {
    margin-right: 0; }

.reviews-heading {
  padding-bottom: 30px;
  font-size: 30px; }

.reviews {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%; }
  .reviews:last-child {
    margin-right: 0; }

.review {
  float: left;
  display: block;
  margin-right: 2.84259%;
  width: 22.86806%;
  text-align: center; }
  .review:last-child {
    margin-right: 0; }

.review-photo {
  border: solid white 3px;
  border-radius: 100px;
  width: 150px; }

.review-text {
  float: left;
  display: block;
  margin-right: 12.43037%;
  width: 88.75696%;
  margin-left: 5.62152%;
  margin-top: -50px;
  border: solid white 3px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(190, 164, 148, 0.7);
  padding: 15px;
  padding-top: 45px;
  color: white;
  font-size: 16px; }
  .review-text:last-child {
    margin-right: 0; }

footer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #929265;
  padding: 15px; }
  footer:last-child {
    margin-right: 0; }

.bottom-nav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  text-align: center; }
  .bottom-nav:last-child {
    margin-right: 0; }

.bottom-nav-li {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 22.316%; }
  .bottom-nav-li:last-child {
    margin-right: 0; }

.bottom-nav-link {
  transition: color 300ms;
  font-size: 14px; }

.bottom-nav-link:hover {
  color: #453736; }

/* Booking Page */
.booking-body {
  background-image: url("../images/sunrise-barn.jpg");
  background-position: center center;
  background-size: cover; }

.main-nav-booking {
  background-color: #8fc1e2; }

.booking-main-nav-link:hover {
  color: #f6d490; }

.booking-heading {
  padding-top: 80px;
  text-align: center;
  color: white;
  font-size: 40px; }

.booking-content-left {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 8.5298%;
  margin-top: 25px;
  text-align: center; }
  .booking-content-left:last-child {
    margin-right: 0; }

.google-calendar {
  display: block;
  border: solid white 5px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(219, 160, 102, 0.7);
  padding: 40px;
  height: 350px; }

.email {
  margin-top: 20px;
  border: solid white 5px;
  border-radius: 15px;
  box-shadow: 12px 12px 30px black;
  background-color: rgba(219, 160, 102, 0.7);
  padding: 15px;
  width: 300px;
  text-shadow: 0 -1px #dbccc4;
  font-size: 30px; }

.email:hover {
  background-color: rgba(143, 193, 226, 0.7); }

.email:active {
  transform: translate(0, 5px);
  box-shadow: 6px 6px 15px black; }

.booking-content-right {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  margin-left: 8.5298%;
  text-align: center; }
  .booking-content-right:last-child {
    margin-right: 0; }

.booking-photo {
  border: solid white 5px;
  border-radius: 150px;
  height: 200px; }

.booking-text {
  margin-top: -70px;
  border: solid white 5px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(219, 160, 102, 0.7);
  padding: 15px;
  padding-top: 70px;
  color: white; }

.booking-footer {
  position: absolute;
  bottom: 0;
  background-color: #c09b3f; }

.booking-bottom-nav-link:hover {
  color: #292d14; }

/* About Page */
.about-body {
  background-image: url("../images/sheep.jpg");
  background-position: center center;
  background-size: cover;
  color: white; }

.about-main-nav {
  background-color: #a3aa81; }

.about-main-nav-link:hover {
  color: #bec034; }

.about-heading {
  padding-top: 80px;
  text-align: center;
  font-size: 40px; }

.about-text {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 17.05961%;
  margin-top: 75px;
  border: solid white 3px;
  border-radius: 15px;
  background-color: rgba(170, 175, 58, 0.7);
  padding: 15px;
  text-align: center; }
  .about-text:last-child {
    margin-right: 0; }

.schedule {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-left: 8.5298%;
  margin-top: 25px;
  border: solid white 3px;
  border-radius: 15px;
  background-color: rgba(170, 175, 58, 0.7);
  padding: 15px; }
  .schedule:last-child {
    margin-right: 0; }

.schedule-heading {
  text-align: center;
  font-size: 24px; }

.schedule-list-item {
  display: block;
  padding-top: 15px; }

.about-booking-link {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-top: 25px;
  border-width: 3px;
  background-color: rgba(170, 175, 58, 0.7); }
  .about-booking-link:last-child {
    margin-right: 0; }
  .about-booking-link :hover {
    background-color: rgba(200, 161, 74, 0.7); }

.activities-heading {
  font-size: 24px; }

.activities {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  margin-top: 35px;
  border: solid white 3px;
  border-radius: 15px;
  background-color: rgba(170, 175, 58, 0.7);
  padding: 10px;
  padding-top: 15px;
  text-align: center; }
  .activities:last-child {
    margin-right: 0; }

.activity {
  padding: 10px; }

.about-footer {
  margin-top: 50px;
  background-color: #566300; }

.about-bottom-nav-link:hover {
  color: #cfbf2c; }

/* Contact Page */
.contact-body {
  background-image: url("../images/grapes.jpg");
  background-position: center center;
  background-size: cover; }

.contact-main-nav {
  background-color: #bfd8ec; }

.contact-main-nav-link:hover {
  color: #2f324e; }

.contact-heading {
  padding-top: 80px;
  text-align: center;
  font-size: 40px; }

.contact-form {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  margin-top: 25px;
  border: solid white 3px;
  border-radius: 15px;
  background-color: rgba(64, 105, 126, 0.6);
  padding: 20px;
  color: white; }
  .contact-form:last-child {
    margin-right: 0; }

.name-container {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 35.26334%;
  display: inline; }
  .name-container:last-child {
    margin-right: 0; }

.first-name-container {
  margin-left: 12.94733%; }

.input-container {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 74.10533%;
  margin-left: 12.94733%;
  display: block; }
  .input-container:last-child {
    margin-right: 0; }

.contact-label {
  display: block;
  padding-top: 20px;
  padding-bottom: 7px; }

.name-input {
  outline: none;
  border: solid white 3px;
  border-radius: 15px;
  background-color: rgba(47, 50, 78, 0.7);
  padding-left: 8px;
  width: 100%;
  height: 30px;
  color: white;
  font-size: 18px; }

.email-input {
  outline: none;
  border: solid white 3px;
  border-radius: 15px;
  background-color: rgba(47, 50, 78, 0.7);
  padding-left: 8px;
  width: 100%;
  height: 30px;
  color: white;
  font-size: 18px; }

.message-input {
  outline: none;
  border: solid white 3px;
  border-radius: 15px;
  background-color: rgba(47, 50, 78, 0.7);
  padding: 8px;
  width: 100%;
  height: 200px;
  color: white;
  font-size: 18px; }

.send-button {
  margin-top: 15px;
  outline: none;
  border: solid white 3px;
  border-radius: 15px;
  box-shadow: 12px 12px 30px black;
  background-color: rgba(47, 50, 78, 0.7);
  padding: 15px;
  width: 140px;
  text-align: center;
  text-shadow: 0 -1px #dbccc4;
  color: white;
  font-size: 20px; }
  .send-button:hover {
    background-color: rgba(38, 61, 41, 0.7); }
  .send-button:active {
    transform: translate(0, 5px);
    box-shadow: 6px 6px 15px black; }

.contact-footer {
  margin-top: 50px;
  background-color: #1f2e20; }

.contact-bottom-nav-link:hover {
  color: #bfd8ec; }

/*# sourceMappingURL=main.css.map */
