html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  height: 100%; }

li {
  list-style: none; }

a {
  text-decoration: none; }

a:visited {
  color: white; }

header {
  background-image: url("../images/header-image.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 100%;
  text-align: center;
  color: white; }

.top-nav {
  text-align: right;
  padding-top: 10px;
  padding-right: 20px; }

.top-nav-link {
  display: inline-block;
  padding: 10px; }

.top-nav-link a:visited {
  color: white; }

.welcome {
  padding-top: 5%;
  text-shadow: 1px 1px 2px black;
  font-size: 80px; }

.content-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .content-container::after {
    clear: both;
    content: "";
    display: table; }

.main-nav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  border: solid white 3px;
  border-radius: 10px;
  background-color: #bd7b58;
  padding-top: 10px;
  height: 60px;
  color: white;
  font-size: 30px; }
  .main-nav:last-child {
    margin-right: 0; }

.main-nav-ul {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%; }
  .main-nav-ul:last-child {
    margin-right: 0; }

.main-nav-link {
  float: left;
  display: block;
  margin-right: 2.84259%;
  width: 17.72593%;
  text-align: center; }
  .main-nav-link:last-child {
    margin-right: 0; }

.main-nav-link a:visited {
  color: white; }

.intro-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  border-bottom: solid white 3px;
  background-image: url("../images/berries.jpg");
  background-position: bottom center;
  background-size: cover;
  padding-top: 30px;
  height: 530px;
  color: white; }
  .intro-container:last-child {
    margin-right: 0; }

.intro {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 8.5298%;
  text-align: center; }
  .intro:last-child {
    margin-right: 0; }

.intro-photo {
  border: solid white 5px;
  border-radius: 150px;
  height: 220px; }

.intro-text {
  margin-top: -26px;
  border: solid white 5px;
  border-radius: 15px;
  background-color: rgba(175, 92, 88, 0.6);
  padding: 20px;
  font-size: 20px; }

.booking-link {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 8.5298%;
  display: inline-block;
  margin-top: 100px;
  border: solid white 7px;
  border-radius: 15px;
  box-shadow: 10px 5px 5px black;
  background-color: rgba(175, 92, 88, 0.9);
  padding-top: 22px;
  width: 500px;
  height: 200px;
  text-align: center;
  font-size: 60px; }
  .booking-link:last-child {
    margin-right: 0; }

.reviews-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-image: url("../images/wood-snake.jpg");
  background-position: center center;
  background-size: cover;
  padding-top: 30px;
  height: 580px; }
  .reviews-container:last-child {
    margin-right: 0; }

.reviews {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%; }
  .reviews:last-child {
    margin-right: 0; }

.review {
  float: left;
  display: block;
  margin-right: 2.84259%;
  width: 22.86806%;
  text-align: center; }
  .review:last-child {
    margin-right: 0; }

.review-photo {
  border: solid white 3px;
  border-radius: 100px;
  width: 150px; }

.review-text {
  float: left;
  display: block;
  margin-right: 12.43037%;
  width: 77.51393%;
  margin-left: 11.24304%;
  margin-top: -15px;
  border: solid white 3px;
  border-radius: 10px;
  background-color: rgba(190, 164, 148, 0.7);
  padding: 15px;
  color: white;
  font-size: 18px; }
  .review-text:last-child {
    margin-right: 0; }

footer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #929265;
  padding: 15px; }
  footer:last-child {
    margin-right: 0; }

.bottom-nav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  text-align: center; }
  .bottom-nav:last-child {
    margin-right: 0; }

.bottom-nav-link {
  float: left;
  display: block;
  margin-right: 2.84259%;
  width: 17.72593%; }
  .bottom-nav-link:last-child {
    margin-right: 0; }

/*# sourceMappingURL=main.css.map */
